<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRC Chat - Lobby</title>
    <link rel="stylesheet" type="text/css" href="index.css">

    <!-- Import do JS do Socket -->
    <script defer src="/socket.io/socket.io.js"></script>
    <!-- Import do Controller -->
    <script defer src="controller.js"></script>

    <style>
        .button {
            display: inline-block;
            justify-content: space-around;
            margin-left: 10px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    </style>

</head>

<body>
    <div style="margin-left: 15px;">

        <div style="margin-top: 15px;">
            <h2>NOME DA NOVA SALA:</h2>
            <form action="/room" method="POST">
                <input class="input" type="text" name="room" required>
                <button class="button" type="submit">Criar</button>
            </form>
        </div>

        <table>
            <h2>SALAS CRIADAS:</h2>
            <tr>
                <th>
                    <td style="vertical-align:middle !important">
                        <div id="room-container">
                            <% Object.keys(rooms).forEach(room => { %>
                                <div><%= room %>
                                    <a href="/<%= room %>" style="vertical-align:middle !important">
                                        <button class="button" type="submit">
                                            Entrar
                                        </button>
                                    </a>
                                </div>
                                <% }) %>
                            </div>
                        </td>
                    </th>
            </tr>
        </table>

    </div>

</body>

</html>