<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRC Chat</title>
    <link rel="stylesheet" href="index.css"></link>

    <!-- Import do JS do Socket -->
    <script defer src="http://localhost:3030/socket.io/socket.io.js"></script>
    <!-- Import do Controller -->
    <script defer src="controller.js"></script>

</head>
<body>
    <div id="room-container">
        <% Object.keys(rooms).forEach(room => { %>
        <div><%= room %></div>
        <a href="/<%= room %>">Entrar</a>
        <% }) %>
    </div>
    <form action="/room" method="POST">
        <input type="text" name="room" required>
        <button type="submit">Criar Nova Sala</button>
    </form>

</body>
</html>